body {
    background-color: #222;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
  text-align: center;
  margin-top:5em;
  font-size: 5rem;
  margin-bottom: 2rem;
}
  
img {
  max-width: 100%;
  height: auto;
}

#Glizzard-Title {
  font-size: 6rem;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  color: #77b5fe;
  font-weight: 300;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: capitalize;
}

@keyframes Glizzard-Title {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

